body{
    background-color: #dae4ee;
}
.navbar-brand active:hover{
    color: yellow;
}

.home{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.8),#21252961),url('../images/img3.jpg');
    background-size: cover;
}

.intro{
    color:whitesmoke;
    padding: 94px 272px;
    padding-top: 52px;
    /* justify-content: center; */
    text-align: justify;
    font-size: 22px;
    font-weight: 300;

    /* padding: ; */
    /* text-align: justify; */
}

#name{
    font-size: 50px;
    /* padding-left: 150px; */
}
#stud{
    font-weight: 350;
}
#para1{
    background: linear-gradient(
        45deg
        , rgba(0,0,0,0.9), transparent)
    /* padding-right: 240px; */
    font-weight: 200
}
p {
    font-weight: 350;
    margin-top: 0;
    margin-bottom: 1rem;
}

.About{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.8),#21252961),url('../images/img1.jpg');
    background-size: cover;
}

.card-title {
    color: white;
    padding-left: 180px;
    margin-bottom: .5rem;
}

.card-text
{
    color: white;
    font-weight: 400;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,.5));
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;

    
    